<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="SinaWeibo"
   iconfile="Weibo.png"
   description="Sina Weibo Input"
   tooltip="Sina Weibo Input"
   category="Input"
   classname="com.yxhs.SinaWeiboStepMeta">
   <libraries>
    <library name="SinaWeibo-0.1-SNAPSHOT.jar"/>
    <library name="Weibo-1.2.1.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">Input</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Sina Weibo Input</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">Get sina Weibo data</tooltip>
   </localized_tooltip>
   
</plugin>
