<?xml version="1.0" encoding="UTF-8"?>
<Server>
  <SysServer>
    <Manager type="MainManagerActor" name="main">
      <ActorCollection type="StockCollActor" name="stock-collection"
		       count="10" file="ss.csv" marcket="sh">
	<Actor type="HttpActor">
	</Actor>
      </ActorCollection>

      <ActorCollection type="RingCollActor" count="2" name="mq-collection">
	<Actor type="MqActor" host="localhost" port="5672" exchange="stockreal.amqp">
	</Actor>
      </ActorCollection>
      <MsgHandle>
	<Msg name="StockMessage">mq-collection</Msg>
      </MsgHandle>
    </Manager>
    <Log path="stock.log"/>
  </SysServer>
</Server>
