<?xml version="1.0" encoding="UTF-8"?>
<Server>
  <SysServer>
    <Manager type="MainManagerActor" name="main">
      <ActorCollection type="StockCollActor" name="stock-collection"
		       count="1" file="sz1.csv" marcket="sz">
	<Actor type="HttpActor">
	</Actor>
      </ActorCollection>

      <ActorCollection type="RingCollActor" count="2" name="mq-collection">
	<Actor type="MqActor">
	</Actor>
      </ActorCollection>
      <MsgHandle>
	<Msg name="StockRealMessage">mq-collection</Msg>
      </MsgHandle>
    </Manager>
    <Log path="stock.log"/>
  </SysServer>
</Server>
